{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circus - Application de réservation de transport régional à Madagascar</title>
    <link rel="stylesheet" href="{% static 'resources/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/explore.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookInfo.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookPlace.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookPayment.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <link rel="stylesheet" href="{% static 'resources/fontawesome/all.css' %}">
    <link rel="stylesheet" href="{% static 'resources/fontawesome/brands.css' %}">
    <link rel="stylesheet" href="{% static 'resources/leaflet/leaflet.css' %}">
</head>
{% block body %}
    {% block header %}

    {% endblock %}

    {% block main %}

    {% endblock %}

    {% block footer %}

    {% endblock %}
{% endblock %}

<script src = "{% static 'resources/bootstrap/bootstrap.bundle.js' %}"></script>
<script src = "{% static 'resources/leaflet/leaflet.js' %}"></script>
<script src = "{% static 'js/explore.js' %}"></script>
<script src = "{% static 'js/bookInfo.js' %}"></script>
<script src= "{% static 'js/bookPlace.js' %}"></script>
<script src = "{% static 'js/map.js' %}"></script>

</html>