.custom-main-menubar {
    background-color: transparent !important;
    border : none !important;
  }
  
  .custom-main-menubar .p-menubar {
  background-color: transparent !important;
  }
  
  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
  @apply w-48;
  @apply bg-slate-900;
  @apply text-white;
  }
  
  .p-menubar.p-menubar-mobile-active .p-menuitem-link {
    @apply hover:bg-amber-500;
    @apply text-white;
  }

  .custom-main-menubar .p-menubar .p-menubar-mobile-active .p-menuitem-link .p-menuitem-text {
    @apply text-white;
  }
  
  .custom-main-menubar .p-menuitem-link {
  @apply bg-transparent;
  @apply font-poppins;
  }

  .custom-add-dropdown {
    @apply font-poppins;
}
  
  .custom-main-menubar .p-menuitem-link .p-menuitem-icon {
  @apply bg-transparent;
  @apply text-black;
  }
  
  .custom-main-menubar .p-menuitem-link .p-menuitem-text {
  @apply hover:bg-transparent;
  @apply text-base;
  @apply text-black; 
  }
  
  .custom-main-menubar .p-menuitem-link {
  @apply hover:bg-amber-500;
  }
  
  .custom-main-menubar .p-menubar-start {
    margin-left: 4rem;
    margin-right : auto;
  }
  
  .custom-main-menubar .p-menubar-end {
    margin-right: 6rem;
    margin-left : auto;
  }

.custom-globe2-icon {
    @apply text-black;
    margin-right : 0.5rem;
    color : black !important ;
}

@media (max-width: 960px) {
    .custom-main-menubar .p-menuitem-link .p-menuitem-text {
        @apply text-white;
    }
}