@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@theme {
  --font-jakarta: 'Plus Jakarta Sans';

  --color-background: #F5F5F5;
  --color-text: #0F172A;

  --color-primary: #FFCC00;
  --color-secondary: #393E46;
  --color-accent: #EEEEEE;
}

body {
   @apply bg-background! font-jakarta text-text! text-base;
}