@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;

  @font-face {
    font-family: 'Poppins';
    src: url(../public/fonts/Poppins/Poppins-Regular.ttf);
  }

  @font-face {
    font-family: 'Kanit';
    src: url(../public/fonts/Kanit/Kanit-Regular.ttf);
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  @apply font-poppins;
  @apply text-base;
  @apply overflow-x-hidden;
}

.custom-bg-main {
  background-image : url(../src/images/assets/bg-madagascar.jpg);
  background-repeat : no-repeat;
  background-size : cover;
  background-position : top;
  background-attachment : fixed;
}

.custom-p-dropdown .p-dropdown-label {
  @apply text-sm;
  @apply font-poppins;
}

.custom-menubar {
  background-color: transparent !important;
  border : none !important;
}

.custom-menubar .p-menubar {
background-color: transparent !important;
}

.p-menubar.p-menubar-mobile-active .p-menubar-root-list {
@apply w-48;
@apply bg-slate-900;
}

.p-menubar.p-menubar-mobile-active .p-menuitem-link {
@apply hover:bg-amber-500;
}

.custom-menubar .p-menuitem-link {
@apply bg-transparent;
@apply font-poppins;
}

.custom-menubar .p-menuitem-link .p-menuitem-icon {
@apply bg-transparent;
@apply text-white;
}

.custom-menubar .p-menuitem-link .p-menuitem-text {
@apply hover:bg-transparent;
@apply text-white;
@apply text-base;
}

.custom-menubar .p-menuitem-link {
@apply hover:bg-amber-500;
}

.custom-globe-icon {
  color : white;
  margin-right : 0.5rem;
}

.custom-menubar .p-menubar-start {
  margin-left: 4rem;
  margin-right : auto;
}

.custom-menubar .p-menubar-end {
  margin-right: 6rem;
  margin-left : auto;
}

.custom-home-dropdown .p-dropdown-label {
  @apply text-sm;
  @apply font-poppins;
  @apply text-white;
}

.custom-home-dropdown  .p-dropdown-trigger-icon {
  @apply text-white;
}

.p-calendar .p-inputtext  {
  background : transparent !important;
  padding: 0.2rem 0.4rem; 
  font-size: 0.85rem; 
  @apply text-white;
  @apply font-poppins;
}

 .p-calendar {
  font-size: 0.75rem; 
}

 .p-datepicker {
  width: 350px; 
  height : 350px;
  @apply font-poppins;
}

 .p-datepicker .p-datepicker-header {
  padding: 0.2rem; 
}

 .p-datepicker .p-datepicker-title {
  font-size: 0.75rem; 
}

 .p-datepicker .p-datepicker-prev,
 .p-datepicker .p-datepicker-next {
  width: 1rem;
  height: 1rem;
}

 .p-datepicker .p-datepicker-calendar td,
 .p-datepicker .p-datepicker-calendar th {
  padding: 0.2rem; 
}

 .p-datepicker .p-datepicker-calendar .p-highlight {
  background-color: #007ad9; 
  color: #fff; 
}

 .p-datepicker .p-datepicker-today {
  border-color: #007ad9; 
}

 .p-datepicker .p-datepicker-calendar {
  font-size: 0.7rem; 
}

 .p-datepicker .p-datepicker-today .p-highlight {
  background-color: #007ad9;
  color: #fff;
}


.custom-period-dropdown .p-dropdown-label {
  @apply font-poppins;
  @apply text-white;
  @apply text-sm;
}

.custom-period-panel-dropdown .p-dropdown-item {
  @apply text-sm;
  @apply text-white;
  @apply hover:bg-slate-700;
}



